.remove-button {
    display: none;
}

.form-container {
    height: 1000px;
}

.button-container {
    position: relative;
}

.form-submit-button {
    position: absolute;
    margin: auto;
    bottom: 10px;
}

.np-form-input-container{
    display: flex;
    flex-direction: column;
}
.marital-status-inputs-container{
    display: flex;
    gap: 55px;
    border: 2px solid red;
}

label:has([type="radio"]){
    cursor: pointer;
}

input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 0;
    color: orange;
    border: 2px solid black;
    position: relative;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    width: 100%;
    border-radius: 0;
    background-image: url('../../assets/check-mark-svgrepo-com.svg');
}

input:checked ~ .checkmark:after{
    background-color: red;
    display: block;
}

input:checked ~ .checkmark {
    display: inline-block;
    background-color: green;
}