.remove-button {
    display: none;
}

.form-container {
    height: 1000px;
}

.button-container {
    position: relative;
}

.form-submit-button {
    position: absolute;
    margin: auto;
    bottom: 10px;
}

.np-form-input-container{
    display: flex;
    flex-direction: column;
}
.marital-status-inputs-container{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
}

.marital-status-label,
.school-status{
    cursor: pointer;
}

input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border-radius: 0;
    outline: 2px solid black;
    position: relative;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    width: 100%;
    border-radius: 0;
}


input:checked ~ .checkmark {
    display: inline-block;
    background-image: url('../../assets/check-mark-svgrepo-com.svg');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
