.form-container {
    width: 100vw;
    height: 100vh;
    outline: 1px solid red;
}

.form {
    margin: auto;
    width: 70%;
    padding: 30px;
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-input {
    margin-bottom: 20px;
}

.form-submit-button {
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: slateblue;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

.form-submit-button:hover {
    background-color: rgb(75, 80, 175);

}